<!doctype html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        YelpCamp - Basics
    </title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
   <div class="container-fluid mx-0 my-0 px-0 py-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand offset-1" href="/">YelpCamp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse offset-6" id="navbarToggle">
                <ul class="navbar-nav mt-2 ml-0">
                    <li class="nav-item active">
                        <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                   <% if(!currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register">Sign Up</a>
                    </li>
                    <% }  else { %>
                    <li>
                        <a href="#">
                           Signed In as <%= currentUser.username %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <% } %>
                    <li class="nav-item">
                        <a class="nav-link" href="/campgrounds">Campgrounds</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
<div class="container-fluid  mx-0 my-0 px-0 py-0">