<% include partials/header %>
<h1>Create a New Campground</h1>
<form method="POST" action="/campgrounds">
    <input type="text" name="name" placeholder="Enter Name"/>
    <input type="text" name="image" placeholder="Enter Image URL"/>
    <button>Submit!!!</button>
</form>

<% include partials/footer %>