<% include partials/header %>

<h1>Sign Up Page </h1>

<form action="/register" method = "POST">
    <input type="text" name="username" id="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password" id="password" />
    <button type="submit">Submit</button>
</form>

<% include partials/footer %>